<footer>
      <p>
        Copyright &copy; <%= Time.now.year %>
        <%= link_to "Ricardo Barahona", "https://www.linkedin.com/in/ricardo-barahona-341435205/", target: "_blank" %>
        <br>
        <%= link_to "Visit My GitHub Profile", "https://github.com/ricardob2003", class: "button", target: "_blank" %>
      </p>
    </footer>